.estilo-quill{
    background-color: rgb(231, 214, 214);
    width: 1000px;
    
    border-radius: 20px;
    display: grid;
    margin: auto;
    color: rgb(27, 27, 39);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 10px solid rgb(81, 81, 82);
    overflow-y: auto;
}

.ql-toolbar{
    background-color: rgb(224, 228, 192);
    height: 50px;
}

.ql-editor{
    height: 500px;
    padding: 20px 100px;
}

.button-to-send{
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 10px;
    display: grid;
    margin: 30px auto;
}


.estilo-quill iframe{
    border-radius: 10px;
    text-align: center;
    width: 720px;
    height: 400px;
    margin: 0 auto ;
}

.estilo-quill img{
    display: grid;
    border-radius: 10px;
    width: 720px;
    height: 400px;
    margin: 0 auto ;
    justify-content: center;
}


.quill-function-input{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 50%);
    width: 400px;
    margin: 10px auto;
}


.quill-function-input input{
    padding: 10px 20px;
    border-radius: 10px;
}

